@page "/"

<PageTitle>Email Lookup</PageTitle>

<h1>Email Lookup</h1>

<EditForm Model="_lookupData" OnValidSubmit="LookupAsync">
	<DataAnnotationsValidator />
	<div class="parameters-section">
		<div>
			<label>Email Address:</label>
		</div>
		<div>
			<InputText class="email-input" @bind-Value="_lookupData.EmailAddress" />
			<ValidationMessage For="() => _lookupData.EmailAddress" />
		</div>
		<div></div>
		<div class="action-buttons">
			<input type="submit" value="Look up" disabled="@_searchDisabled" />
		</div>
	</div>
</EditForm>

<div class="results-message">
	@_message
</div>

@if (_showResults)
{
	<h2>Personal Information</h2>
	<div class="results-section">
		<div class="results-section-header">Basic details:</div>
		<div class="results-table">
			<div>
				First Name:
			</div>
			<div>
				@_person?.FirstName
			</div>
			<div>
				Last Name:
			</div>
			<div>
				@_person?.LastName
			</div>
			@if (!string.IsNullOrWhiteSpace(_person?.Occupation))
			{
				<div>
					Occupation:
				</div>
				<div>
					@_person?.Occupation
				</div>
			}
			@if (_person?.Age > 0)
			{
				<div>
					Age:
				</div>
				<div>
					@_person?.Age
				</div>
			}
			@if (!string.IsNullOrWhiteSpace(_person?.Gender))
			{
				<div>
					Gender:
				</div>
				<div>
					@_person?.Gender
				</div>
			}
			@if (!string.IsNullOrWhiteSpace(_person?.Country))
			{
				<div>
					Country:
				</div>
				<div>
					@_person?.Country
				</div>
			}
			@if (!string.IsNullOrWhiteSpace(_person?.City))
			{
				<div>
					City:
				</div>
				<div>
					@_person?.City
				</div>
			}
			@if (!string.IsNullOrWhiteSpace(_person?.State))
			{
				<div>
					State:
				</div>
				<div>
					@_person?.State
				</div>
			}
			@if ((!string.IsNullOrWhiteSpace(_person?.InferredSalaryMax)) && (!string.IsNullOrWhiteSpace(_person?.InferredSalaryMin)))
			{
				<div>
					Inferred Salary:
				</div>
				<div>
					@_person?.InferredSalaryMin
				</div>
				<div>
					@_person?.InferredSalaryMax
				</div>
			}
		</div>
		@if (_person?.Languages.Count > 0)
		{
			<div class="results-section-header">Languages:</div>
			<div class="results-table">
				@foreach (var lang in _person.Languages)
				{
					<div>
						@lang
					</div>
				}
			</div>
		}
		@if (_person?.PersonalEmails.Count > 0)
		{
			<div class="results-section-header">Emails:</div>
			<div class="results-table">
				@foreach (var email in _person.PersonalEmails)
				{
					<div>
						@email
					</div>
					<br />
				}
			</div>
		}
		@if (_person?.PersonalNumbers.Count > 0)
		{
			<div class="results-section-header">Phone numbers:</div>
			<div class="results-table">
				@foreach (var number in _person.PersonalNumbers)
				{
					<div>
						@number
					</div>
					<br />
				}
			</div>
		}
		@if (_person?.Education.Count > 0)
		{
			<div class="results-section-header">Education:</div>
			<div class="results-table">
				@foreach (var award in _person.Education)
				{
					<div>
						Field of Study:
					</div>
					<div>
						@award.FieldOfStudy
					</div>
					<div>
						Degree Name:
					</div>
					<div>
						@award.DegreeName
					</div>
					<div>
						School:
					</div>
					<div>
						@award.School
					</div>
					<div>
						Description:
					</div>
					<div>
						@award.Description
					</div>
					<div>
						---
					</div>
					<div>
						---
					</div>
				}
			</div>
		}
		@if (_person?.Experiences.Count > 0)
		{
			<div class="results-section-header">Experiences:</div>
			<div class="results-table">
				@foreach (var experience in _person.Experiences)
				{
					<div>
						Company:
					</div>
					<div>
						@experience.Company
					</div>
					<div>
						Title:
					</div>
					<div>
						@experience.Title
					</div>
					<div>
						Description:
					</div>
					<div>
						@experience.Description
					</div>
					<div>
						Location:
					</div>
					<div>
						@experience.Location
					</div>
					<div>
						---
					</div>
					<div>
						---
					</div>
				}
			</div>
		}
		@if (_person?.Awards.Count > 0)
		{
			<div class="results-section-header">Awards:</div>
			<div class="results-table">
				@foreach (var award in _person.Awards)
				{
					<div>
						Title:
					</div>
					<div>
						@award.Title
					</div>
					<div>
						Issuer:
					</div>
					<div>
						@award.Issuer
					</div>
					<div>
						Description:
					</div>
					<div>
						@award.Description
					</div>
				}
			</div>
		}
		@if (_person?.Courses.Count > 0)
		{
			<div class="results-section-header">Courses:</div>
			<div class="results-table">
				@foreach (var course in _person.Courses)
				{
					<div>
						Course Name:
					</div>
					<div>
						@course.Name
					</div>
				}
			</div>
		}
		@if (_person?.Projects.Count > 0)
		{
			<div class="results-section-header">Awards:</div>
			<div class="results-table">
				@foreach (var project in _person.Projects)
				{
					<div>
						Title:
					</div>
					<div>
						@project.Title
					</div>
					<div>
						Description:
					</div>
					<div>
						@project.Description
					</div>
				}
			</div>
		}
	</div>

	if (_person?.Company is Company company)
	{
		<h2>Company Information</h2>
		<div class="results-section">
			<div class="results-section-header">Domain Information</div>
			<div class="results-table">
				@if (!string.IsNullOrWhiteSpace(company.DomainName))
				{
					<div>
						Domain Name:
					</div>
					<div>
						@company.DomainName
					</div>
				}
				@if (!string.IsNullOrWhiteSpace(company.DomainStatus))
				{
					<div>
						Domain Status:
					</div>
					<div>
						@company.DomainStatus
					</div>
				}
				@if (company.CreationDate is not null)
				{
					<div>
						Creation Date:
					</div>
					<div>
						@company.CreationDate
					</div>
				}
				@if (company.UpdatedDate is not null)
				{
					<div>
						Updated:
					</div>
					<div>
						@company.UpdatedDate
					</div>
				}
				@if (company.RegistryDomainId is not null)
				{
					<div>
						Registry Domain ID:
					</div>
					<div>
						@company.RegistryDomainId
					</div>
				}
			</div>
			<div class="results-section-header">Registrar Information</div>
			<div class="results-table">
				@if (!string.IsNullOrWhiteSpace(company.Registrar))
				{
					<div>
						Registrar:
					</div>
					<div>
						@company.Registrar
					</div>
				}
				@if (!string.IsNullOrWhiteSpace(company.RegistrarAbuseContactEmail))
				{
					<div>
						Registrar Contact Email:
					</div>
					<div>
						@company.RegistrarAbuseContactEmail
					</div>
				}
				@if (!string.IsNullOrWhiteSpace(company.RegistrarAbuseContactPhone))
				{
					<div>
						Registrar Phone Contact:
					</div>
					<div>
						@company.RegistrarAbuseContactPhone
					</div>
				}
				@if (!string.IsNullOrWhiteSpace(company.RegistrarUrl))
				{
					<div>
						Registrar URL:
					</div>
					<div>
						@company.RegistrarUrl
					</div>
				}
				@if (!string.IsNullOrWhiteSpace(company.RegistrarWhoIsServer))
				{
					<div>
						Registrar WHOIS Server:
					</div>
					<div>
						@company.RegistrarWhoIsServer
					</div>
				}
			</div>
			<div class="results-section-header">Registrant Information</div>
			<div class="results-table">
				@if (!string.IsNullOrWhiteSpace(company.RegistrantOrganization))
				{
					<div>
						Registrant Organization:
					</div>
					<div>
						@company.RegistrantOrganization
					</div>
				}
				@if (!string.IsNullOrWhiteSpace(company.RegistrantEmail))
				{
					<div>
						Registrant Email:
					</div>
					<div>
						@company.RegistrantEmail
					</div>
				}
				@if (!string.IsNullOrWhiteSpace(company.RegistrantCountry))
				{
					<div>
						Registrar Country:
					</div>
					<div>
						@company.RegistrantCountry
					</div>
				}
				@if (!string.IsNullOrWhiteSpace(company.RegistrantState))
				{
					<div>
						Registrant State:
					</div>
					<div>
						@company.RegistrantState
					</div>
				}
			</div>
		</div>
	}
}